<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="clientForm" class="Homework1.Task008.ClientForm"/>
    <bean id="host" factory-bean="clientForm" factory-method="getHost"/>
    <bean id="name" factory-bean="clientForm" factory-method="getName"/>
    <bean id="socket" class="java.net.Socket">
        <constructor-arg name="host" ref="host"/>
        <constructor-arg name="port" value="1234"/>
    </bean>
    <bean id="os" factory-bean="socket" factory-method="getOutputStream"/>
    <bean id="is" factory-bean="socket" factory-method="getInputStream"/>
    <bean id="oos" class="java.io.ObjectOutputStream">
        <constructor-arg name="out" ref="os"/>
    </bean>
    <bean id="ios" class="java.io.ObjectInputStream">
        <constructor-arg name="in" ref="is"/>
    </bean>
    <bean id="battleShipCreating" class="Homework1.Task008.BattleShipCreating">
        <constructor-arg ref="name"/>
    </bean>


</beans>